﻿@model Humanity.Models.Comuna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comuna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
